/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 27, 2016, 3:28:33 PM
    Author     : chau.hoang
*/

.skin-blue .sidebar-menu>li.header{
    color: white !important;
}

.main-sidebar{
    height: 100%;
}

  <!-- REQUIRED JS SCRIPTS -->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
        <script>
            !function (A, n, g, u, l, a, r) {
                A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
                    (A[l].q = A[l].q || []).push(arguments)
                }, A[l].l = +new Date, a = n.createElement(g),
                        r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
            }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-XXXXX-X');
            ga('send', 'pageview');
        </script>

        <!-- build:js(.) scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        
        <!--<script src="scripts/controllers/main.js"></script>
            <script src="scripts/controllers/about.js"></script>-->
        <script src="scripts/controllers/app-Controller.js" type="text/javascript"></script>
        <script src="scripts/controllers/budget-by-month-controller.js" type="text/javascript"></script>
        <script src="scripts/controllers/daily-spending-controller.js" type="text/javascript"></script>
        <script src="scripts/controllers/dashboard-controller.js" type="text/javascript"></script>
        <script src="scripts/controllers/expense-list-controller.js" type="text/javascript"></script>
        <script src="scripts/controllers/reports-controller.js" type="text/javascript"></script>
        <script src="scripts/controllers/tracking-controller.js" type="text/javascript"></script>        
        <!-- endbuild -->