/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 27, 2016, 3:28:33 PM
    Author     : chau.hoang
*/

.skin-blue .sidebar-menu>li.header{
    color: white !important;
}

#income-expense-tree li{
    margin-left: 20px;    
}