<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Loại Chi Tiêu</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <!--<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>-->
        </div>
    </div>

    <div class="box-body">
        <!-- form start -->
        <form class="form-horizontal">
            <div class="box-body">
                <div class="form-group">
                    <label for="inputExpenseName" class="col-sm-3 control-label">Loại chi tiêu</label>

                    <div class="col-sm-9">
                        <input class="form-control" 
                               ng-model="selectedExpense.Name"
                               id="inputExpenseName" placeholder="Loại chi tiêu">
                    </div>
                </div>
                <div class="form-group" >
                    <label for="inputExpenseType" class="col-sm-3 control-label">Nhóm</label>

                    <div class="col-sm-9">
                        <select class="form-control select2 select2-hidden-accessible" 
                                id="inputExpenseType" style="width: 100%;" 
                                tabindex="-1" aria-hidden="true"
                                placeholder="Khác"
                                ng-model="groupId">
                            <option ng-repeat="expenseGroup in expenseGroups" value="{{expenseGroup.Id}}">{{expenseGroup.Group}}</option>
                        </select>                            
                    </div>
                </div>                   
            </div>                  

            <div class="box-footer">
                <button ng-show="!expenseEditMode"  type="submit"                    
                        class="btn btn-info pull-right">Thêm</button>
                <button ng-show="expenseEditMode" type="submit" 
                        ng-click="onExpenseCancelClick()"
                        class="btn btn-default">Thoát</button>                        
                <button ng-show="expenseEditMode" type="submit" style="margin-left: 10px" class="btn btn-info pull-right">Cập nhật</button>            
                <button ng-show="expenseEditMode" type="submit" class="btn btn-info pull-right">Xóa</button>
            </div>
        </form>

        <hr/>
        
        <!-- tree view-->                       
        <div id="expense-tree" >
            <!--style="max-height: 350px; overflow: hidden;overflow: scroll; overflow-x:hidden">-->
            <ul class="nav nav-list">
                <li><label class="tree-toggle nav-header">Chi tiêu</label>
                    <ul class="nav nav-list tree" 
                        ng-repeat="expenseGroup in expenseGroups">
                        <li>                                                                                        
                            <label class="tree-toggle nav-header" 
                                   style="cursor: pointer"
                                   id="{{expenseGroup.Id}}">
                                <span ng-show="!expenseGroup.Expand">+</span>
                                <span ng-show="expenseGroup.Expand">-</span>
                                {{expenseGroup.Group}}
                            </label>
                            <ul class="nav nav-list tree" 
                                style="cursor: pointer"                                     
                                ng-model="expenseGroup" 
                                ng-repeat="expense in expenseGroup.Expense">
                                <li><a href="" ng-click="onSelectExpenseClick(expense)">{{expense.Name}}</a></li>
                            </ul>
                        </li>                                       
                    </ul>
                </li>
                <li class="divider"></li>                                
            </ul>
        </div>       
    </div>

</div>
<!--</div>-->                
<!-- /.col -->